$white: #FFFF;
$black: #0000;
$navigation-color: #F6CAD5;
$home-background: #DDDDDD;
$pages-border-color: #CFB53B;
$pages-font-color: #434343;
$menu-icons-color: #808080;
$button-text: #B76177;

$font-family: Open sans;